streamlit==1.46.1
librosa==0.11.0
numpy==1.26.4
pandas==2.2.2
scipy==1.13.1
sounddevice==0.5.2
scikit-learn==1.6.1
joblib==1.5.1
xgboost==2.1.4
parselmouth==1.1.1
opensmile==2.4.1
soundfile==0.12.1  # Corrected package name and version
